<robot
  name="capra_simulation">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.6664E-17 0.032648 -2.0607E-16"
        rpy="0 0 0" />
      <mass
        value="3.603" />
      <inertia
        ixx="0.032455"
        ixy="8.4839E-18"
        ixz="2.8189E-18"
        iyy="0.08254"
        iyz="-9.0802E-18"
        izz="0.073343" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://capra_simulation/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://capra_simulation/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>