[submodule "takin_motors"]
	path = takin_motors
	url = https://github.com/clubcapra/takin_motors.git
	branch = master
[submodule "takin_msgs"]
	path = takin_msgs
	url = https://github.com/clubcapra/takin_msgs.git
[submodule "takin_description"]
	path = takin_description
	url = https://github.com/clubcapra/takin_description.git
[submodule "takin_estop"]
	path = takin_estop
	url = https://github.com/clubcapra/takin_estop.git
[submodule "takin_bringup"]
	path = takin_bringup
	url = https://github.com/clubcapra/takin_bringup.git
[submodule "capra_headlights_ros"]
	path = capra_headlights_ros
	url = https://github.com/clubcapra/capra_headlights_ros.git
[submodule "capra_telaire_ros"]
	path = capra_telaire_ros
	url = https://github.com/clubcapra/capra_telaire_ros.git
[submodule "capra_motion_detection_ros"]
	path = capra_motion_detection_ros
	url = https://github.com/clubcapra/capra_motion_detection_ros.git
[submodule "capra_darknet_ros"]
	path = capra_darknet_ros
	url = https://github.com/clubcapra/capra_darknet_ros.git
[submodule "vectornav"]
	path = vectornav
	url = https://github.com/clubcapra/vectornav.git
[submodule "capra_flir_lepton_ros"]
	path = capra_flir_lepton_ros
	url = https://github.com/clubcapra/capra_flir_lepton_ros
