<launch>
   
  <arg name="robot_description" value="$(find robotcapra)/urdf/robotcapra.urdf" />

  <!-- Robot and TF -->
  <!-- Create  base_footprint relative transform to base_link -->
  <!-- Args: x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
  <!-- The static_transform_publisher is a ROS publisher node that publishes 
       static translations between frames aka une distance non variable entre des frames -->
  <!-- http://wiki.ros.org/tf#static_transform_publisher -->
  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 30" />
  
  <!-- Load urdf on ROS Parameter Server -->
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />

  <!-- TODO Validate if necessary -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robotcapra_state_publisher" />

</launch>