<launch>
    <group ns="capra">
        <include file="$(find takin_description)/launch/robot_description.launch"/>

        <!-- Sensors -->
        <include file="$(find takin_bringup)/launch/camera_3d.launch"/>
        <include file="$(find takin_bringup)/launch/imu.launch"/>
        <include file="$(find takin_bringup)/launch/sick_tim.launch"/>

        <!-- Motor -->
        <include file="$(find takin_motors)/launch/motors_remote.launch"/>

        <!-- UI Data Server -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
                <arg name="port" value="9090"/>
        </include>
	
    </group>    
</launch>
