<?xml version="1.0"?>

<launch>
  <arg name="camera" default="/camera_3d/rgb"/>

  <node ns="${camera}" pkg="image_proc" type="image_proc" name="image_proc" />

  <node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="${camera}/image_rect"/>
    <param name="base_link_frame_id" value="base_link"/>

    <param name="camera_height" value="0.2566" />
    <param name="camera_pitch"  value="0.00" />
  </node>

  <!--<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <remap from="imu_data" to="/vectornav/IMU">
    <remap from="vo" to="/vectornav/IMU">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>-->
</launch>