<launch>

    <!-- Simulate velocity commands sent to any listener -->
    <node   pkg="capra_simulation"
            type="cmd_vel_simulator.py"
            name="cmd_vel_simulator" />

    <arg name="gui" default="true" />
    <include file="~/.gazebo/models/capra_robot/plugins/capra_robot_controller.world">
        <arg name="gui" value="$(arg gui)" />
    </include>

</launch>